body{
    background-color: #4ca1af;
    background-image: linear-gradient(to right,#c4e0e5 , #4ca1af); 
}

.container{
   height: 90vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

#gameScreen{
    background-color: black;
}